<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Purchaseitems</title>
</head>
<body>
    <h1>Purchaseitem name: <%= purchase.name %></h1>
    <h2>Purchaseitem price: <%= purchase.price %></h2>
    <h2>Purchaseitem quantity selected: <%= purchase.quantity %></h2>
    <h2>Purchaseitem quantity selected: <%= purchaseitem.createdDateAt %></h2>
    <h2>Purchaseitem quantity selected: <%= purchase.order %></h2>
    <a href="/purchaseitems">All Purchaseitems</a>
</body>
</html>